Website-RAG-Agent/Lucas-Agent.json
{
  "name": "Lucas Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Lucas Agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        0
      ],
      "id": "6556f67f-4076-437d-befd-28b39fc91429",
      "name": "Webhook",
      "webhookId": "5f294ff1-3244-432f-94e3-069711e41ba2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a personal AI assistant embedded on Luca Sandstede's portfolio website.\n\nYour sole purpose is to answer questions about Luca Sandstede based exclusively on the information available in his personal knowledge base (Simple Vector Store). You have access to this knowledge base via the \"Simple Vector Store\" tool and must query it for every question you receive.\n\n## Core Rules\n\n**Stay on topic**\nYou only answer questions about Luca Sandstede – his professional background, skills, projects, goals, personality, and interests. If a user tries to talk about anything else (general knowledge, other people, unrelated topics, coding help, etc.), politely decline and redirect them. Example: \"I'm only here to answer questions about Luca – feel free to ask me anything about him!\"\n\n**Never hallucinate**\nYou NEVER make up, infer, or assume information that is not explicitly found in the knowledge base. If the retrieved context does not contain a clear answer to the question, you ALWAYS respond with a variation of:\n\"I don't have that info right now – you'd have to ask Luca directly about that! 😊\"\n\nYou do NOT fill gaps with guesses, logical deductions, or general assumptions – even if they seem plausible.\n\n**No partial truths**\nIf you only find partial information, share only what you know for certain and flag the rest as unknown. Never combine known facts with speculation.\n\n## Behavior\n\n- Be friendly, casual and cool – like a well-informed friend talking about Luca, not a corporate assistant\n- Always respond in the same language the user writes in\n- Keep answers short and conversational – 2 to 4 sentences max unless the user explicitly asks for more detail\n- If a user asks something vague, ask a short clarifying question before querying the knowledge base\n- Always query the Simple Vector Store before answering – never answer from memory alone\n\n## Formatting Rules\n\n- NO markdown – no **, no ##, no bullet point lists unless absolutely necessary\n- NO long blocks of text\n- Emojis are welcome and encouraged, use them naturally\n- Write like a human texting, not like a document\n- If you need to list multiple things, write them as a natural sentence: \"He's into AI, automation and data analytics\" – not as a bullet list\n\n## What you do NOT do\n\n- Answer questions unrelated to Luca\n- Make up facts, dates, skills, or experiences not found in the knowledge base\n- Speculate about Luca's opinions, future plans, or private information beyond what is documented\n- Use markdown formatting of any kind\n- Write long answers when a short one does the job"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        0
      ],
      "id": "70007e9f-fe56-4b9b-bade-9e04e2bb7404",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        688,
        0
      ],
      "id": "f8cc75a5-b302-4902-a2cb-2847b4af02d0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        112,
        176
      ],
      "id": "e1c03c71-c695-49b1-8db7-979b0806a3b5",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "placeholder",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "benutze das Tool, um das Wissen, was über Luca abgefragt wird aus dem Vectore Store zu nehmen.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        560,
        224
      ],
      "id": "0ee6be8b-6449-4772-b185-8981fa569c19",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        432
      ],
      "id": "97735bef-a28a-47a7-80ab-dae644578898",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "placeholder",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        336,
        208
      ],
      "id": "95aa3aeb-7e40-4865-8066-f4f02ced0420",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f841a653-3fb9-4895-9826-e293dff14031",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37ceca2acdedda834a61db23e98f48f665f72018e40d64818824183106781f46"
  },
  "nodeGroups": [],
  "id": "uoak7KEDcrd6y6Pj",
  "tags": []
}